
.DS_Store
.env
.env*
.env.local
.env.production

/.vscode/
node_modules/

# React Router
.react-router/
build/

/generated/prisma

# /docs/

dev.db


# Database backups
*.sql
backups/
.vercel
*.log
build_debug.log


.agent
.claude

# Turbo
.turbo
